<link href="~/Content/index.css" rel="stylesheet" type="text/css" />

<div id="content-container">
    <div class="do-doing-done-container" id="do-column">
        <h3 class="content-header">What I Do</h3>
        <p>I create web applications primarily with ASP.NET MVC. I have experience with front- and back-end development. This includes using HTML, CSS, JavaScript, C#, and SQL. I am self-taught and am learning and building everyday.</p>
    </div>
    <div class="do-doing-done-container" id="doing-column">
        <h3 class="content-header">What I Intend to Do</h3>
        <p>I intend to constantly increase my knowledge of and experience with full-stack web development, either within the .NET framework or whatever the situation calls for. I will develop my skills by building applications, working with other developers, and using online learning resources.</p>
    </div>
    <div class="do-doing-done-container" id="done-column">
        <h3 class="content-header">What I've Done</h3>
        <h4 class="website-title-link"><a href="http://www.keithsandersmusic.com" target="_blank">keithsandersmusic.com</a></h4>
        <div class="website-container" id="keithsandersmusic-container">
            <div class="website-image-container">
                <div class="headline-image-container cell-phone-size">
                    <h5>Cellphone</h5>
                    <img class="website-image" src="~/Images/keithSiteCellPhone.PNG" />
                </div>
                <div class="headline-image-container full-screen-size">
                    <h5 class="screen-two-only">Full Screen</h5>
                    <img class="website-image" src="~/Images/keithSiteFullSize.PNG" />
                </div>
            </div>
            <div class="website-description">
                <h5>Description</h5>
                <p>This site showcases a musician's work. The home page displays snippets of song lyrics that fade out, change, and fade back in. If the user clicks the lyrics, an audio player appears. The player loads the song that corresponds to the lyrics that the user clicked. When playing, the audio player will continue to play even when the user changes views. The site contains various other feature. Feel free to play around with it, and listen to the fine music.</p>
            </div>
            <div class="overarching-code-snippet-container">
                <h5>Code Snippets</h5>
                <div class="code-snippet-and-explanation-container">
                    <div class="code-snippet-container">
                        <img class="code-snippet" src="~/Images/keithSiteCodeSnippet1.PNG" />
                    </div>
                    <p>News about the musician's past and future shows is stored in a SQL database and passed as a model to the "news" partial view. The above razor code sorts the data according to date and places future events in one div. Past even events are placed in a separate div.</p>
                </div>
                <div class="code-snippet-and-explanation-container">
                    <div class="code-snippet-container">
                        <img class="code-snippet" src="~/Images/keithSiteCodeSnippet2.PNG" />
                    </div>
                    <p>This function is called when the user clicks the "Show Song List" label on the home view. Using an array of data previously obtained from an AJAX call, this function lists each song, gives each list item an id corresponding to its place in the array, and binds each list item to a click event that uses the list item's id to determine which song to load into the audio player.</p>
                </div>
            </div>
        </div>
        <h4 class="website-title-link"><a href="http://www.exotic-recipes.com" target="_blank">exotic-recipes.com</a></h4>
        <div class="website-container" id="exotic-recipes-container">
            <div class="website-image-container">
                <div class="headline-image-container cell-phone-size">
                    <h5>Cellphone</h5>
                    <img class="website-image" src="~/Images/recipeSiteCellPhone.PNG" />
                </div>
                <div class="headline-image-container full-screen-size">
                    <h5 class="screen-two-only">Full Screen</h5>
                    <img class="website-image" src="~/Images/recipeSiteFullSize.PNG" />
                </div>
            </div>
            <div class="website-description">
                <h5>Description</h5>
                <p>This site contains humorous faux exotic recipes. The "search" page, shown above, allows the user to view the entire database of recipes, search the database by keyword, select particular recipes, view the details of the recipe such as ingredients and instructions, and to print a page of the details. I encourage you to visit the site, and have a chuckle at the zany cuisine.</p>
            </div>
            <div class="overarching-code-snippet-container">
                <h5>Code Snippets</h5>
                <div class="code-snippet-and-explanation-container">
                    <div class="code-snippet-container">
                        <img class="code-snippet" src="~/Images/recipeSiteCodeSnippet1.PNG" />
                    </div>
                    <p>This function runs each time the user keys up in the search input box on the "search" page. It takes the value of the input and tries to match it with a recipe name. The function makes a suggestion if it finds a close match, or tells the user that no match exists.</p>
                </div>
                <div class="code-snippet-and-explanation-container">
                    <div class="code-snippet-container">
                        <img class="code-snippet" src="~/Images/recipeSiteCodeSnippet2.PNG" />
                    </div>
                    <p>This fills a div with recipe ingredients stored in a SQL database. The variable "recipesDB" is an array of recipes obtained from an AJAX call made in another function.</p>
                </div>
            </div>
        </div>
    </div>
</div>