<link href="~/Content/index.css" rel="stylesheet" type="text/css" />

<div id="content-container">
    <h3 class="content-header" id="do-column">What I Do</h3>

    <h3 class="content-header" id="doing-column">What I Intend to Do</h3>

    <h3 class="content-header" id="done-column">What I've Done</h3>
</div>