<link href="~/Content/index.css" rel="stylesheet" type="text/css" />

<div id="content-container">
    <div class="do-doing-done-container" id="do-column">
        <h3 class="content-header">What I Do</h3>
        <p>I create web applications primarily with ASP.NET MVC. I have experience with front- and back-end development. This includes using HTML, CSS, JavaScript, JQuery, C#, and SQL. I am self-taught and am learning and building everyday.</p>
    </div>
    <div class="do-doing-done-container" id="doing-column">
        <h3 class="content-header">What I Intend to Do</h3>
        <p>I will increase my knowledge of full-stack web development, either within the .NET framework or whatever else the situation calls for. Over time, I would like to gain experience using lower-level languages such as C++, C, and assembly.</p>
    </div>
    <div class="do-doing-done-container" id="done-column">
        <h3 class="content-header">What I've Done</h3>
        <h4><a href="keithsandersmusic.com">keithsandersmusic.com</a></h4>
        <div class="website-container" id="keithsandersmusic-container">
            <div class="website-image-container">
                <div class="headline-image-container">
                    <h5>Cellphone Size</h5>
                    <img class="website-image" src="~/Images/keithSiteCellPhone.PNG" />
                </div>
                <div class="headline-image-container">
                    <h5 class="screen-two-only">Full Screen</h5>
                    <img class="website-image screen-two-only" src="~/Images/keithSiteFullSize.PNG" />
                </div>
            </div>
        </div>
    </div>
</div>