/***************************************************************************
        CELL-PHONE SIZE
***************************************************************************/
#page-size {
    display: none;
    position: relative;
    z-index: 1;
}

#content-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-header {
    text-align: center;
    color: #9494b8;
    font-family: 'Kreon', serif;
    font-size: 2rem;
    margin-top: 0;
}

.do-doing-done-container {
    margin: 2rem 5%;
    width: 100%;
    font-family: 'Marmelad', sans-serif;
}

.do-doing-done-container p {
    margin: 1rem 0 3.5rem 0;
    max-width: 100%;
    color: #009000;
    font-size: 1.3rem;
}

#doing-column {
    order: 1;
    margin-top: 0;
}

#do-column p,
#doing-column p {
    margin: 0 5%;
}

#done-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0;
}

.website-container {
    width: 90%;
    box-shadow: inset 0 0 40px rgba(60,60,60, 1);
    background-color: #DFE2DB;
    margin-bottom: 2rem;
}

.website-container p {
    color: #000;
}

.website-container h5 {
    text-align: center;
    font-size: 1.5rem;
}

.website-title-link {
    text-align: center;
    max-width: 80%;
}

.website-title-link a {
    font-size: 1.5rem;
    font-family: 'Kreon', serif;
    color: #ff0;
    box-shadow: inset 0 -3px 0 0 #800000;
}

.website-image {
    box-shadow: 5px 5px 5px #888888;
}

.website-image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headline-image-container {
    margin: 0;
}

.cell-phone-size,
.cell-phone-size img {
    width: 7rem;
}

.full-screen-size,
.full-screen-size img {
    width: 15rem;
}

#maze-image {
    width: 90%;
    height: 100%;
    margin-top: 2rem;
    box-shadow: 5px 5px 5px #888888; 
}

.website-description {
    margin: 1.5rem;
}

.website-description p {
    margin: 0;
}

.overarching-code-snippet-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1.5rem;
}

.code-snippet-and-explanation-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    align-self: flex-start;
}

.code-snippet-container {
    max-height: 20rem;
    max-width: 100%;
    overflow: auto;
    border: 5px double #888; 
}

.code-snippet-container img {
    width: 50rem;
}



/***************************************************************************
        PAGE-SIZE 2
***************************************************************************/

@media screen and (min-width: 25rem) {
    #page-size {
        z-index: 2;
    }
    
    .cell-phone-size,
    .cell-phone-size img {
        width: 8rem;
    }

    .full-screen-size,
    .full-screen-size img {
        width: 20rem;
    }
}




/***************************************************************************
        PAGE-SIZE 3
***************************************************************************/

@media screen and (min-width: 30rem) {
    #page-size {
        z-index: 3;
    }
    .cell-phone-size,
    .cell-phone-size img {
        width: 10rem;
    }

    .full-screen-size,
    .full-screen-size img {
        width: 25rem;
    }
}




/***************************************************************************
        PAGE-SIZE 4
***************************************************************************/

@media screen and (min-width: 40rem) {
    #page-size {
        z-index: 4;
    }

    .cell-phone-size,
    .cell-phone-size img {
        width: 12rem;
    }

    .full-screen-size,
    .full-screen-size img {
        width: 30rem;
    }
}




/***************************************************************************
        PAGE-SIZE 5
***************************************************************************/

@media screen and (min-width: 50rem) {
    #page-size {
        z-index: 5;
    }

    .cell-phone-size,
    .cell-phone-size img {
        width: 15rem;
    }

    .full-screen-size,
    .full-screen-size img {
        width: 40rem;
    }
}



/***************************************************************************
        PAGE-SIZE 6
***************************************************************************/

@media screen and (min-width: 60rem) {
    #page-size {
        z-index: 6;
    }

    .cell-phone-size,
    .cell-phone-size img {
        width: 17rem;
    }

    .full-screen-size,
    .full-screen-size img {
        width: 45rem;
    }
}



/***************************************************************************
        PAGE-SIZE 7
***************************************************************************/

@media screen and (min-width: 75rem){
    #page-size {
        z-index: 7;
    }

    #content-container {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .do-doing-done-container {
        margin: 0 5%;
    }

    .do-doing-done-container p {
        font-size: 1.5rem;
    }

    #do-column,
    #doing-column {
        flex-basis: 40%;
    }

    #do-column p,
    #doing-column p {
        margin: 0;
    }

    #doing-column {
        margin-left: auto;
        order: 0;
    }

    #done-column {
        flex-basis: 100%;
        margin-top: 4rem;
    }

    #done-column h3 {
        font-size: 3rem;
        margin-bottom: 0;
    }

    .website-container {
        width: 100%;
        min-height: 30rem;
    }

    .website-container h5 {
        font-size: 1.5rem;
    }

    .website-title-link a {
        font-size: 2.5rem;
    }

    .website-image-container {
        flex-direction: row;
        justify-content: space-around;
    }

    .website-image {
        box-shadow: 10px 10px 5px #888888;
    }

    .cell-phone-size,
    .cell-phone-size img {
        width: 12rem;
    }

    .full-screen-size,
    .full-screen-size img {
        width: 50rem;
    }

    .cell-phone-size img,
    .full-screen-size img {
        height: 25rem;
    }

    .cell-phone-size,
    .full-screen-size {
        min-height: 25rem;
    }

    .overarching-code-snippet-container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .overarching-code-snippet-container h5 {
        flex-basis: 100%;
    }

    .code-snippet-and-explanation-container {
        width: 48%;
    }

    .code-snippet-container {
        height: 30rem;
    }

    .code-snippet-container img {
        width: 65rem;
    }
}



/***************************************************************************
        PAGE-SIZE 8
***************************************************************************/

@media screen and (min-width: 85rem) {
    #page-size {
        z-index: 8;
    }

    .website-container {
        min-height: 35rem;
    }
    
    .cell-phone-size,
    .cell-phone-size img {
        width: 13rem;
    }

    .full-screen-size,
    .full-screen-size img {
        width: 55rem;
    }

    .cell-phone-size img,
    .full-screen-size img {
        height: 30rem;
    }

    .cell-phone-size,
    .full-screen-size {
        min-height: 30rem;
    }
}